<?xml version="1.0"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">


<web-app>

  <filter>
    <!-- Headers - enabling Content Security Policy and No Cache Filter -->
    <filter-name>RewriteResponseHeader</filter-name>
    <filter-class>web.RewriteResponseHeaderFilter</filter-class>
    <init-param>
      <param-name>ignored</param-name>
      <param-value>ignored</param-value>
    </init-param>
  </filter>

  <!--<filter-mapping>
    <filter-name>RewriteResponseHeader</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>-->


  <!-- *** APPLICATION NAME *** -->
  <!-- this also doubles as SISC context name -->
  <display-name>Bedlam server</display-name>
  <description>
    Bedlam server.
  </description>



  <!-- ** ON CONTEXT INIT/DESTROY ** -->

  <!-- * INIT * -->
  <context-param>
    <param-name>siscweb.on-init-sexp</param-name>
    <param-value>
      <![CDATA[
	(class-path-extension-append! '("scm/" "WEB-INF/scm/" "/base/bedlam/siscweb/web-app-context/WEB-INF/"))

        ;; configuration
        (require-extension (lib siscweb/config))

        ;; output xml/html comments?
        (config/set-sxml-output-comments! #t)

        ;; output formatted xml/html?
        (config/set-sxml-formatted-output! #t)

        ;; error handling
        (define base-dir "/base/bedlam/")         
	(load (string-append "file://" base-dir "siscweb/web-app-context/WEB-INF/scm/error/fc-handler.scm"))
        (import error/fc-handler)
        (config/set-fc-hook! fc-handler)

        ;; MANDATORY: install sisclet handler
        (require-extension (lib siscweb/sisclet))
      ]]>
    </param-value>
  </context-param>

  <!-- * DESTROY * -->
  <context-param>
    <param-name>siscweb.on-destroy-sexp</param-name>
    <param-value>
      <![CDATA[
        ;; nothing to do
      ]]>
    </param-value>
  </context-param>



  <!-- *** LISTENERS *** -->

  <!-- File upload cleanup. -->
<!--  <listener>
    <listener-class>
      org.apache.commons.fileupload.servlet.FileCleanerCleanup
    </listener-class>
  </listener> -->


  <!-- ** SISCWEB ** -->

  <!-- * SISCWEB INITIALIZER * -->
  <listener>
    <listener-class>siscweb.web.SISCInitializer</listener-class>
  </listener>


  <!-- *** SERVLETS *** -->

  <!-- ** SISCWEB SERVLET ADAPTERS ** -->

<servlet>
    <servlet-name>dynamicv0</servlet-name>
    <description>dynamicv0</description>
    <servlet-class>siscweb.web.SISCAdapterServlet</servlet-class>
    <init-param>
      <param-name>on-init-sexp</param-name>
      <param-value>
        <![CDATA[
          (display "\n\Bedlam... starting to load bedlam...\n\n")

          (define base-dir "/base/bedlam/")

          (begin (define iasylum-bedlam-location base-dir) (load (string-append "file://" iasylum-bedlam-location "iasylum/init.scm")))
          (log-debug "Ok - bedlam loaded.")
          (class-path-extension-append! '("scm/" "WEB-INF/scm/" "/base/bedlam/siscweb/web-app-context/WEB-INF/"))

	  (load (string-append "file://" base-dir "siscweb/web-app-context/WEB-INF/scm/web/v0/d.scm"))	  

          (log-info "...Bedlam webservice module is now up and running!")
        ]]>
      </param-value>
    </init-param>
    <init-param>
      <param-name>on-destroy-sexp</param-name>
      <param-value>
        <![CDATA[
          ;; NOTE: it is not strict necessary to unpublish when
          ;; the context is destroyed; this is for illustrative
          ;; purposes only

          (require-extension (lib siscweb/publish))
          (unpublish-all)
        ]]>
      </param-value>
    </init-param>-->

    <load-on-startup>1</load-on-startup>
  </servlet>
  <!-- *** SERVLET MAPPINGS *** -->

  <!-- ** SISCWEB SERVLET MAPPINGS ** -->

  <servlet-mapping>
    <servlet-name>dynamicv0</servlet-name>
    <url-pattern>/d/*</url-pattern>
  </servlet-mapping>

  <!-- *** SESSION CONFIG *** -->
  <session-config>
    <session-timeout>2880</session-timeout>
  </session-config>



  <!-- *** ENVIRONMENT VARIABLES *** -->
  <!-- None of these environment entries is mandatory, since
       reasonable default values, the same as those shown here, are
       provided.  The values indicated to be static are read only when
       the context is initialized; the dynamic values are re-read
       every minute, allowing for their modification through the
       application server's administrative interface.
    -->

  <!-- ** REPL ** -->

  <!-- * REPL? * -->
  <env-entry>
    <description>Launch REPL? (static)</description>
    <env-entry-name>siscweb/repl-p</env-entry-name>
    <env-entry-value>true</env-entry-value>
    <env-entry-type>java.lang.Boolean</env-entry-type>
  </env-entry>




  <!-- * REPL PORT * -->
  <env-entry>
    <description>REPL port (static)</description>
    <env-entry-name>siscweb/repl-port</env-entry-name>
    <env-entry-value>5156</env-entry-value>
    <env-entry-type>java.lang.Integer</env-entry-type>
  </env-entry>


  <!-- * REPL HOST * -->
  <env-entry>
    <description>REPL host (static)</description>
    <env-entry-name>siscweb/repl-host</env-entry-name>
    <env-entry-value>0.0.0.0</env-entry-value>
    <env-entry-type>java.lang.String</env-entry-type>
  </env-entry>

  <!-- ** LOGGING ** -->

  <!-- * LOGGING LEVEL * -->
  <env-entry>
    <description>Logging level (static)</description>
    <env-entry-name>siscweb/logging-level</env-entry-name>
    <env-entry-value>DEBUG</env-entry-value>
    <env-entry-type>java.lang.String</env-entry-type>
  </env-entry>

  <!-- * LOGGING FILE * -->
  <!-- If a logging file is specified, SISCweb logging messages are
       routed there away from the application server default logger
    -->
  <env-entry>
    <description>Logging file path; default is console (static)</description>
    <env-entry-name>siscweb/logging-file</env-entry-name>
    <env-entry-value><!-- %t/siscweb-%g.log --></env-entry-value>
    <env-entry-type>java.lang.String</env-entry-type>
  </env-entry>

  <!-- * LOGGING LIMIT * -->
  <!-- The maximum number of bytes written to the file specified above -->
  <env-entry>
    <description>Logging limit (static)</description>
    <env-entry-name>siscweb/logging-limit</env-entry-name>
    <env-entry-value>5000000</env-entry-value>
    <env-entry-type>java.lang.Integer</env-entry-type>
  </env-entry>

  <!-- * LOGGING COUNT * -->
  <!-- The number of log files to use in the rotation -->
  <env-entry>
    <description>Logging count (static)</description>
    <env-entry-name>siscweb/logging-count</env-entry-name>
    <env-entry-value>1</env-entry-value>
    <env-entry-type>java.lang.Integer</env-entry-type>
  </env-entry>


  <!-- ** CONTINUATION MANAGEMENT ** -->

  <!-- * CONTINUATION DEFAULT TIME TO LIVE * -->
  <env-entry>
    <description>Continuation time to live in ms (dynamic)</description>
    <env-entry-name>siscweb/continuation-ttl</env-entry-name>
    <env-entry-value>1200</env-entry-value>
    <env-entry-type>java.lang.Long</env-entry-type>
  </env-entry>

  <!-- * CONTINUATION CLEANUP INTERVAL * -->
  <env-entry>
    <description>Continuation cleanup interval in ms (dynamic)</description>
    <env-entry-name>siscweb/continuation-cleanup-interval</env-entry-name>
    <env-entry-value>30000</env-entry-value>
    <env-entry-type>java.lang.Long</env-entry-type>
  </env-entry>

  <!-- * CONTINUATION CREATE INTERVAL * -->
  <env-entry>
    <description>
      Minimum time interval between creations of continuation groups
      in milliseconds (dynamic)
    </description>
    <env-entry-name>siscweb/continuation-group-creation-interval</env-entry-name>
    <env-entry-value>500</env-entry-value>
    <env-entry-type>java.lang.Long</env-entry-type>
  </env-entry>

  <!-- * USER HISTORY SIZE * -->
  <env-entry>
    <description>Max history size per user (dynamic)</description>
    <env-entry-name>siscweb/user-history-size</env-entry-name>
    <env-entry-value>50</env-entry-value>
    <env-entry-type>java.lang.Integer</env-entry-type>
  </env-entry>

  <!-- * USER HISTORY SIZE SERIALIZED * -->
  <env-entry>
    <description>Max history size serialized at session passivation</description>
    <env-entry-name>siscweb/user-history-size-serialized</env-entry-name>
    <env-entry-value>10</env-entry-value>
    <env-entry-type>java.lang.Integer</env-entry-type>
  </env-entry>
</web-app>
