/* ---- CSS Document ISO -----------------*/
/* ---- NOSE AG Design Intelligence ------*/
/* ---- Florian Steiner, 16.03.2006 ------*/
/* ---- single element definitions -------*/
/*<![CDATA[*/

/* GENERAL TAG DEFINITION */

h1, h2, h3, h4, h5, h6, p{
	margin: 0;
	padding: 0;
}
h1{
	margin: 0 0 1em 0;
}
h2{
	margin: 0 0 0.7em 0;
}
h3{
	margin: 0 0 1em 0;
}
h6{
	margin: 0 0 1em 0;
}
p{
	margin: 0 0 1em 0;
}
blockquote, cite{
	margin: 0;
	padding: 0;
}
ol{}
ol li{}
ul{
	list-style-type: square;
}
ul li{}
/* TABLE DEFINITIONS */
table{
	margin: 0 0 1em 0.8em;
	/*margin: 0 1em 2em 1em;*/
	padding: 0;
	border: 0;
	width: 100%;
	clear: both;
	border-left: 1px solid #DDE1EF;
	border-top: 1px solid #DDE1EF;
}
#content .col66 table{
	width: 40.75em;
}
#content.totalPage .col66 table{
	width: 56em;
}
#content.fullPage table{
	width: 60.75em;
}
table caption{
	margin: 0 0 0.7em 0;
	padding: 0 0 0 1.5em;
}
table th, table tbody th, #content table th, #content table tbody th{
	margin:0;
	padding: 0;
	padding:0.3em 0.5em;
	background-color: #EBEFF7;
	border-right: 1px solid #DDE1EF;
	border-bottom: 1px solid #DDE1EF;
}
table thead th{
	margin:0;
	padding: 0;
	padding:0.3em 0.5em;
	background-color: #DDE0EE;
	border-right: 1px solid #DDE1EF;
	border-bottom: 1px solid #DDE1EF;
}
table tr.zebra td{
	background-color: #FFF;
}
table td{
	margin: 0;
	padding: 0;
	padding:0.3em 0.5em;
	background-color: #F5F7FB;
	border-right: 1px solid #DDE1EF;
	border-bottom: 1px solid #DDE1EF;
}
table th.right, table td.right{
	text-align: right;
}
img{
	margin: 0;
	padding: 0;
	border: none;
	display: block;
}
form{
	margin: 0 1em 1em 1em;
	padding: 0;
}
label{
	margin: 0 1em 0 0;
}
hr{
	clear: both;
	color: #DDE1EF;
	background-color: #DDE1EF;
	border: none;
	margin: 1em;
	height: 1px;
}
/* GENERIC CLASSES FOR USE ON VARIOUS OBJECTS */
.fond{
	background-color: #F0F2F9;
}
.noBorder, #content .noBorder{
	border: none;
}
.clear{
	clear: both;
}
br.clear{
	margin: 0;
	padding: 0;
	height: 0;
}
div.clear{
	margin: 0;
	padding: 0;
	height: 0;
	overflow: hidden;
}

.clearfix:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}

.clearfix {display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

.noBlock{
	display: inline;
}
.floatLeft{
	float: left;
}
.floatRight{
	float: right;
}
img.floatLeft{
	margin: 0 1em 1em 1.2em;
}
img.floatRight{
	margin: 0 1.2em 1em 1em;
}
.m0, #content .m0{
	margin: 0;
}
.p0, #content .p0{
	padding: 0;
}
.mRight20, #content .mRight20{
	margin-right: 2em;
}
.mLeft20, #content .mLeft20{
	margin-left: 2em;
}
.mRight10, #content .mRight10{
	margin-right: 1em;
}
.mLeft10, #content .mLeft10{
	margin-left: 1em;
}
.pRight20, #content .pRight20{
	padding-right: 2em;
}
.pLeft20, #content .pLeft20{
	padding-left: 2em;
}
.mRight1em, #content .mRight1em{
	margin-right: 1em;
}
.mLeft1em, #content .mLeft1em{
	margin-left: 1em;
}
.mRight2em, #content .mRight2em{
	margin-right: 2em;
}
.mLeft2em, #content .mLeft2em{
	margin-left: 2em;
}
.mTop1em, #content .mTop1em{
	margin-top: 1em;
}
.mTop2em, #content .mTop2em{
	margin-top: 2em;
}
.mBottom1em, #content .mBottom1em{
	margin-bottom: 1em;
}
.mBottom2em, #content .mBottom2em{
	margin-bottom: 2em;
}
.pRight1em, #content .pRight1em{
	padding-right: 1em;
}
.pRight2em, #content .pRight2em{
	padding-right: 2em;
}
.pLeft1em, #content .pLeft1em{
	padding-left: 1em;
}
.pLeft2em, #content .pLeft2em{
	padding-left: 2em;
}
.pTop1em, #content .pTop1em{
	padding-top: 1em;
}
.pTop2em, #content .pTop2em{
	padding-top: 2em;
}
.pBottom1em, #content .pBottom1em{
	padding-bottom: 1em;
}
.pBottom2em, #content .pBottom2em{
	padding-bottom: 2em;
}

.w20{
	width: 2em;
}
.w30{
	width: 3em;
}
.w40{
	width: 4em;
}
.w50{
	width: 5em;
}
.w60{
	width: 6em;
}
.w70{
	width: 7em;
}
.w80{
	width: 8em;
}
.w90{
	width: 9em;
}
.w100{
	width: 10em;
}
.w120{
	width: 12em;
}
.w130{
	width: 13em;
}
.w140{
	width: 14em;
}
.w160{
	width: 16em;
}
.w180{
	width: 18em;
}
.w200{
	width: 20em;
}
.fullSize{
	width: 100%;
}

/* DEFINITION PER AREA */

/* HEADER AREA */
#header div.clear{	
	margin: 0;
	padding: 0;
	height: 0;
	overflow: hidden;
}

#logo img{
	display: block;
	margin: 0;
	padding: 0;
	width: 202px;
	height: 58px;
}

/* SEARCH */
#search ul {
	display: block;
	margin: 0 0 0 0;
	padding: 0;
	float: left;
	list-style: none;
	background-image: url(separator.gif);
	background-repeat: no-repeat;
	background-position: left top;
}
#search ul li {
	display: block;
	margin: 0;
	padding: 0;
	float: left;
}
#search ul li a {
	display: block;
	margin: 0;
	padding: 0.2em 0.6em;
	background-image: url(separator.gif );
	background-repeat: no-repeat;
	background-position: right top;
}
#search label {
	display: block;
	margin: 0;
	padding: 0;
	height: 0;
	width: 0;
	overflow: hidden;
}
#search input#searchField {
	border: 0.1em solid #666;
	width: 17em;
	height: 1.3em;
}
#search input#searchSubmit {
	margin: 0;
	padding-right: 1.3em;
	background-color: transparent;
	border: none;
	background-image: url(icon_featurelink.gif );
	background-repeat: no-repeat;
	background-position: right 0.3em;
	width: auto;
}
#search a.floatRight {
	margin: 0.2em 7em 0 0;
}
/* MAIN NAVIGATION */
#mainNav ul {
	display: block;
	margin: 0;
	padding: 0 1em 0 0;
	list-style: none;
}
#mainNav ul li {
	margin: 0;
	padding: 0;
	display: inline;
}
#mainNav ul li a {
	float: left;
	background-image: url(tab_start.gif );
	background-repeat: no-repeat;
	background-position: left top;
	margin: 0 0 0 0;
	padding: 0 0 0 0.9em;
}
#mainNav a span {
	float: left;
	display: block;
	background-image: url(tab_end.gif );
	background-repeat: no-repeat;
	padding: 0.4em 1.5em 0.3em 0.6em;
}
/* Commented Backslash Hack hides rule from IE5-Mac \*/
#mainNav a span {
	float: none;
}
/* End IE5-Mac hack */
#mainNav ul li.active a {
	background-position: 0 -300px;
	border-width: 0;
}
#mainNav ul li.active a span {
	background-position: 100% -300px;
}
/* METANAVIGATION */
#metaNav ul {
	margin: 0;
	padding: 0;
	width: auto;
	list-style: none;
	float: right;
	display: block;
}
#metaNav ul li {
	margin: 0;
	padding: 0;
	display: block;
	float: left;
}
#metaNav ul li a {
	margin: 0;
	padding: 0.3em 0.8em;
	display: block;
	background: url(metanav_separator.gif )no-repeat right 0.8em;
}
#metaNav ul li.lang a {
	background: none;
}
/* STORE TAB */
#metaNav li.storeLink {
	margin: 0;
	padding: 0;
}
#metaNav li.storeLink a {
	float: left;
	background-image: url(tab_store_start.gif );
	background-repeat: no-repeat;
	background-position: left top;
	margin: 0;
	padding: 0 0 0 0.5em;
}
#metaNav li.storeLink a span {
	float: left;
	display: block;
	background-image: url(tab_store_end.gif );
	background-repeat: no-repeat;
	background-position: right top;
	padding: 0.5em 0.8em 0.6em 0.3em;
}
/* Commented Backslash Hack hides rule from IE5-Mac \*/
#metaNav li.storeLink a span {
	float: none;
}
/* End IE5-Mac hack */
#metaNav li.storeLink a.active {
	background-position: 0 -300px;
	border-width: 0;
}
#metaNav li.storeLink a.active span {
	background-position: 100% -300px;
}
/* STORE BASKET TAB */
#metaNav li.storeBasket {
	margin: 0;
	padding: 0;
}
#metaNav li.storeBasket a {
	float: left;
	background-image: url(tab_store_start.gif );
	background-repeat: no-repeat;
	background-position: left top;
	margin: 0;
	padding: 0 0 0 0.5em;
}
#metaNav li.storeBasket a span {
	float: left;
	display: block;
	background-image: url(tab_store_end.gif );
	background-repeat: no-repeat;
	background-position: right top;
	padding: 0.45em 0.8em 0.5em 0.3em;
}
/* Commented Backslash Hack hides rule from IE5-Mac \*/
#metaNav li.storeBasket a span {
	float: none;
}
/* End IE5-Mac hack */
#metaNav li.storeBasket a span img {
	width: 1.42em;
}
#metaNav li.storeBasket a.active {
	background-position: 0 -300px;
	border-width: 0;
}
#metaNav li.storeBasket a.active span {
	background-position: 100% -300px;
}
/* BREADCRUMB */
#breadCrumb ul {
	display: block;
	margin: 0;
	padding: 0;
	list-style: none;
}
#breadCrumb ul li {
	display: block;
	margin: 0;
	padding: 0;
	float: left;
}
#breadCrumb ul li a {
	display: block;
	margin: 0;
	padding: 0.3em 1em 0.3em 0.5em;
	background-image: url(icon_breadcrumb.gif );
	background-repeat: no-repeat;
	background-position: right 0.5em;
}
#breadCrumb ul li.active a {
	background-image: none;
}
#breadCrumb ul li.active a:hover {
	cursor: default;
}
/* SECTION NAVIGATION */
#sectionNav ul {
	display: block;
	margin: 0 0 2em 0;
	padding: 0;
	list-style: none;
	border-bottom: 1px solid #D6DCEE;
}
#sectionNav ul li {
	display: block;
	margin: 0;
	padding: 0;
}
#sectionNav ul li a {
	display: block;
	margin: 0;
	padding: 0.2em 0.5em 0.2em 1.2em;
	border-top: 1px solid #D6DCEE;
}
#sectionNav ul ul {
	border: none;
	margin: 0;
}
#sectionNav ul ul li a {
	padding-left: 1.8em;
	border: none;
}
#sectionNav ul ul ul li a {
	padding-left: 2.6em;
}
#sectionNav ul ul ul ul li a {
	padding-left: 3.4em;
}
#sectionNav ul ul ul ul li a {
	padding-left: 4.2em;
}
#sectionNav ul li.active a {
	background-image: url(icon_pagenav_active.gif );
	background-repeat: no-repeat;
	background-position: left 0.5em;
}
#sectionNav ul li.active li a {
	background: none;
}
#sectionNav ul ul li.active a {
	background-position: 0.8em 0.5em;
}
#sectionNav ul ul ul li.active a {
	background-position: 1.6em 0.5em;
}
#sectionNav ul ul ul ul li.active a {
	background-position: 3.2em 0.5em;
}
#sectionNav ul ul ul ul ul li.active a {
	background-position: 4em 0.5em;
}
/* BANNERS */
#sectionNav div.banner {
	margin: 0 1em 1em 0;
	padding: 0.5em 1em;
	background-color: #F0F2F9;
}
#sectionNav div.banner ul {
	display: block;
	margin: 0 0 0.5em 0;
	padding: 0;
	list-style: none;
	border-bottom: none;
}
#sectionNav div.banner ul li {
	display: block;
	margin: 0;
	padding: 0;
}
#sectionNav div.banner ul li a {
	display: block;
	margin: 0;
	padding: 0.2em 0.5em 0.2em 0;
	border-top: none;
}
/* CONTENT OBJECTS */
/* STANDARD UNORDERD LIST */
#content ul {
	margin: 0 1em 1em 2.5em;
	padding: 0;
}
#content ul ul {
	margin: 0 0 0 1em;
	padding: 0;
}
#content ol {
	margin-bottom: 1em;
}
#content ol ol {
	margin-bottom: 0;
}
/* FEATURE BOXES */
#content div.highlightTop {
	clear: both;
	margin: 0 1.2em 2em 1.2em;
	padding: 0 0 0.5em 0;
	background-color: #DDE0EE;
}
#content div.highlightTop h4 {
	padding-top: 1em;
}
#content div.highlightTop img {
	width: 48.43em;
}
#content div.highlightLeft {
	clear: both;
	margin: 0 1.2em 2em 1.2em;
	padding: 0 0 0 0;
	background-color: #DDE0EE;
	width: 48.5em;
}
#content div.highlightLeft img {
	float: left;
	width: 18em;
}
#content div.highlightLeft div {
	margin: 0;
	padding: 0;
	width: 60%;
	float: right;
}
#content div.highlightLeft div.clear {
	float: none;
	width: 100%;
	margin: 0;
	padding: 0;
}
#content div.highlightLeft h4 {
	margin: 0;
	padding: 1em 0.5em 0 0;
}
#content div.highlightLeft p {
	margin: 0;
	padding: 0 0.5em 0 0;
}
#content div.highlightLeft ul.links {
	margin: 0 2em 0.5em 2em;
}
#content div.highlightWhite {
	margin: 0 1em 1em 1em;
	background-color: #FFF;
	border: 1px solid #DDE0EE;
}
#content div.highlightWhite h3 {
	margin-left: 0;
	margin-right: 0;
}
/* FEATURED LINKS */
#content ul.links {
	margin: 0 2em 1em 2em;
	padding: 0;
	list-style: none;
	text-align: right;
	display: block;
}
#content ul.links li {
	display: block;
	margin: 0;
	padding: 0;
	text-align: right;
}
#content ul.links li a {
	display: inline-block;
	margin: 0;
	padding: 0.3em 1.6em 0.3em 0;
	background-position: right 0.5em;
	background-repeat: no-repeat;
}
#content ul.links li.featurelink a {
	background-image: url(icon_featurelink.gif );
}
#content ul.links li.downloadlink a {
	background-image: url(icon_downloadlink.gif );
}
#content ul.links li.externallink a {
	background-image: url(icon_externallink.gif );
}
#content ul.links li.shoppingcart a {
	background-image: url(icon_cart.gif );
}
#content ul.links li.pagetoplink a {
	background-image: url(icon_toplink.gif );
}
#content ul.links li.featurelink a:hover {
	background-image: url(icon_featurelink_hover.gif );
}
#content ul.links li.downloadlink a:hover {
	background-image: url(icon_downloadlink_hover.gif );
}
#content ul.links li.externallink a:hover {
	background-image: url(icon_externallink_hover.gif );
}
#content ul.links li.shoppingcart a:hover {
	background-image: url(icon_cart_hover.gif );
}
#content ul.links li.pagetoplink a:hover {
	background-image: url(icon_toplink_hover.gif );
}
#content ul.links li.loading span {
	margin: 0;
	padding: 0.2em 0 0.2em 2em;
	background-position: 0.2em;
	background-repeat: no-repeat;
	background-image: url(icon_loading.gif );
}
#content table a.shoppingcart {
	display: block;
	float: right;
	margin: 0;
	padding: 0 1.6em 0 0;
	background-image: url(icon_cart.gif);
	background-position: right 0.1em;
	background-repeat: no-repeat;
}
#content table td a.shoppingcart:hover {
	background-image: url(icon_cart_hover.gif);
}
#content table ul.links {
	margin: 0 0.5em 0 1em;
	padding: 0;
	float: right;
}
#content table ul.links li {
	margin: 0;
	padding: 0;
}
#content ul.printlink {
	margin: 1em 1em 0 1em;
	padding: 0;
	list-style: none;
	text-align: right;
	display: block;
	width: auto;
	float: right;
}
#content h3 ul.printlink {
	margin: 0 0 0 1em;
}
#content ul.printlink li {
	display: block;
	margin: 0;
	padding: 0;
	text-align: right;
}
#content ul.printlink li a {
	display: inline-block;
	margin: 0;
	padding: 0 1.6em 0 0;
	background-position: right 0.2em;
	background-repeat: no-repeat;
}
#content ul.printlink li a {
	background-image: url(icon_printlink.gif);
}
#content ul.printlink li a:hover {
	background-image: url(icon_printlink_hover.gif);
}
#content table th a.sort {
	margin: 0 0 0 0;
	padding: 0 0 0 1.4em;
	background-image: url(icon_sort.gif);
	background-repeat: no-repeat;
	background-position: left top;
}
#content table th a.sortDownActive {
	margin: 0 0 0 0;
	padding: 0 0 0 1.4em;
	background-image: url(icon_sortdown_active.gif);
	background-repeat: no-repeat;
	background-position: left top;
}
#content table th a.sortUpActive {
	margin: 0 0 0 0;
	padding: 0 0 0 1.4em;
	background-image: url(icon_sortup_active.gif);
	background-repeat: no-repeat;
	background-position: left top;
}
#content table th.sortActive {
	background-color: #DDE0EE;
}
/* REFINEMENT OF STANDARD TAGS */
#content h1 {
	margin: 0.2em 1em 0.7em 0.7em;
}
#content h1 span.date {
	float: right;
}
#content h2 {
	margin-left: 0.95em;
	border-bottom: 1px solid #CCD4EA;
}
#content h3 {
	clear: both;
	background-color: #DDE0EE;
	margin: 0 1em 1em 1em;
	padding: 0.3em 0.5em;
}
#content h4 {
	margin: 0 1.5em;
}
#content h4 a {
	display: inline-block;
	padding-right: 1.6em;
	background-image: url(icon_featurelink.gif );
	background-repeat: no-repeat;
	background-position: right 0.2em;
}
#content h4 a:hover {
	background-image: url(icon_featurelink_hover.gif );
}
#content h5 {
	margin: 0 1.6em;
}
#content p, #content h6 {
	margin: 0 1.5em 1em 1.5em;
	padding: 0;
}
/* CITE */
#content div.cite {
	clear: both;
	width: 18em;
	margin: 0 1em 0 1em;
	padding: 0;
	background-color: #DCE3F1;
	float: left;
}
#content div.cite blockquote {
	padding-top: 0.5em;
	padding-left: 0.5em;
	padding-right: 0.5em;
}
#content div.cite cite {
	padding-left: 0.5em;
	padding-right: 0.5em;
}
#content div.cite ul {
	margin: 1em 0 0.5em 0;
	padding: 0.5em 0.5em 0 0.5em;
	list-style: none;
	border-top: 1px solid #FFF;
}
#content div.cite ul li {
	margin: 0;
	padding: 0;
}
#content div.cite ul li a {
	margin: 0;
	padding: 0;
}
/* IMAGE CONTAINER */
#content div.imageContainerLeft {
	clear: both;
	margin: 0 1em 1em 1.3em;
	padding: 0 0 0 0;
	background-color: #DCE3F1;
	float: left;
}
#content div.imageContainerRight {
	clear: both;
	margin: 0 1em 1em 1em;
	padding: 0 0 0 0;
	background-color: #DCE3F1;
	float: right;
}
#content div.imageContainerRight ul.links, #content div.imageContainerLeft ul.links {
	border-top: 1px solid #FFF;
	margin: 0;
	padding: 0.5em 1em 0.5em 0.5em;
}
#content div.imageContainerLeft img, #content div.imageContainerRight img {
	float: none;
	margin: 0;
	padding: 0;
}
#content p.imageCaption {
	margin: 0;
	padding: 0.3em 0.5em;
}
/* PAGING */
#content div.paging {
	background-color: #DDE0EE;
	margin: 0 1em 1em 1em;
	padding: 0;
	text-align: center;
	height: 2.2em;
}
#content div.paging ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: block;
	width: auto;
}
#content div.paging ul li {
	margin: 0;
	padding: 0;
	display: block;
	float: left;
}
#content div.paging ul li a {
	display: block;
	margin: 0;
	padding: 0.3em 0.3em;
	border-right: 1px solid #F0F2F9;
}
/* CONTENT TABS */
#content .tabs {
	margin: 0;
	padding: 0;
	background-color: #FFF;
	width: 100%;
}
#content .tabs ul {
	display: block;
	margin: 0;
	padding: 0 1em 0 0;
	list-style: none;
}
#content .tabs ul li {
	margin: 0;
	padding: 0;
	display: inline;
}
#content .tabs ul li a {
	float: left;
	background: url(content_tab_start.gif) no-repeat left top;
	margin: 0 0 0 0;
	padding: 0 0 0 0.9em;
	border-bottom: 1px solid #FFF;
}
#content .tabs a span {
	float: left;
	display: block;
	background: url(content_tab_end.gif) no-repeat right top;
	padding: 0.4em 1.5em 0.3em 0.6em;
}
/* Commented Backslash Hack hides rule from IE5-Mac \*/
#content .tabs a span {
	float: none;
}
/* End IE5-Mac hack */
#content .tabs ul li.active a {
	background-position: 0 -300px;
	border-width: 0;
	border-bottom: 1px solid #F0F2F9;
}
#content .tabs ul li.activeVar a {
	background-image: url(tab_start.gif);
	background-position: 0 -300px;
	border-width: 0;
	border-bottom: 1px solid #F0F2F9;
}
#content .tabs ul li.active a span {
	background-position: 100% -300px;
}
#content .tabs ul li.activeVar a span {
	background-image: url(tab_end.gif);
	background-position: 100% -300px;
}
/* DOWNLOAD TABLE */
#content table.downloadTable a, #content table span.paper, #content span.paper {
	display: block;
	margin: 0;
	padding: 0.2em 0 0.2em 2em;
	background-image: url(icon_file.gif );
	background-position: left 0.1em;
	background-repeat: no-repeat;
}
#content a.noIcon, #content table a.noIcon {
	display: inline;
	margin: 0;
	padding: 0;
	background-image: none;
}
#content a.url, #content table a.url, #content table span.url, #content span.url{
	display: block;
	margin: 0;
	padding: 0.2em 0 0.2em 2em;
	background-position: left 0.1em;
	background-repeat: no-repeat;
	background-image: url(icon_url.gif);
}
#content a.doc, #content table a.doc, #content table span.doc, #content span.doc {
	display: block;
	margin: 0;
	padding: 0.2em 0 0.2em 2em;
	background-position: left 0.1em;
	background-repeat: no-repeat;
	background-image: url(icon_doc.gif );
}
#content a.xls, #content table a.xls, #content table span.xls, #content span.xls {
	display: block;
	margin: 0;
	padding: 0.2em 0 0.2em 2em;
	background-position: left 0.1em;
	background-repeat: no-repeat;
	background-image: url(icon_xls.gif );
}
#content a.ppt, #content table a.ppt, #content table span.ppt, #content span.ppt {
	display: block;
	margin: 0;
	padding: 0.2em 0 0.2em 2em;
	background-position: left 0.1em;
	background-repeat: no-repeat;
	background-image: url(icon_ppt.gif );
}
#content a.pdf, #content table a.pdf, #content table span.pdf, #content span.pdf, #content span.PDF {
	display: block;
	margin: 0;
	padding: 0.2em 0 0.2em 2em;
	background-position: left 0.1em;
	background-repeat: no-repeat;
	background-image: url(icon_pdf.gif );
}
#content a.html, #content table a.html, #content table span.html, #content span.html, #content span.html {
	display: block;
	margin: 0;
	padding: 0.2em 0 0.2em 2em;
	background-position: left 0.1em;
	background-repeat: no-repeat;
	background-image: url(icon_html.gif );
}
#content a.cd, #content table a.cd, #content table span.cd, #content span.cd, #content span.CD {
	display: block;
	margin: 0;
	padding: 0.2em 0 0.2em 2em;
	background-position: left 0.1em;
	background-repeat: no-repeat;
	background-image: url(icon_cd.gif );
}
#content table span.dvd {
	display: block;
	margin: 0;
	padding: 0.2em 0 0.2em 2em;
	background-position: left 0.1em;
	background-repeat: no-repeat;
	background-image: url(icon_cd.gif );
}
#content table span.pdfoncd {
	display: block;
	margin: 0;
	padding: 0.2em 0 0.2em 2em;
	background-position: left 0.1em;
	background-repeat: no-repeat;
	background-image: url(icon_cd.gif );
}
#content table span.pdfondvd {
	display: block;
	margin: 0;
	padding: 0.2em 0 0.2em 2em;
	background-position: left 0.1em;
	background-repeat: no-repeat;
	background-image: url(icon_cd.gif );
}
#content table span.htmloncd {
	display: block;
	margin: 0;
	padding: 0.2em 0 0.2em 2em;
	background-position: left 0.1em;
	background-repeat: no-repeat;
	background-image: url(icon_cd.gif );
}
#content table span.htmlondvd {
	display: block;
	margin: 0;
	padding: 0.2em 0 0.2em 2em;
	background-position: left 0.1em;
	background-repeat: no-repeat;
	background-image: url(icon_cd.gif );
}
#content a.txt, #content table a.txt, #content table span.txt, #content span.txt {
	display: block;
	margin: 0;
	padding: 0.2em 0 0.2em 2em;
	background-position: left 0.2em;
	background-repeat: no-repeat;
	background-image: url(icon_txt.gif );
}
#content a.zip, #content table a.zip, #content table span.zip, #content span.zip {
	display: block;
	margin: 0;
	padding: 0.2em 0 0.2em 2em;
	background-position: left 0.1em;
	background-repeat: no-repeat;
	background-image: url(icon_zip.gif );
}
#content a.folder, #content table a.folder, #content table span.folder, #content span.folder {
	display: block;
	margin: 0;
	padding: 0.2em 0 0.2em 2em;
	background-position: left 0.1em;
	background-repeat: no-repeat;
	background-image: url(icon_folder.gif );
}
#content a.uplevel, #content table a.uplevel, #content table span.uplevel, #content span.uplevel {
	display: block;
	margin: 0;
	padding: 0.2em 0 0.2em 2em;
	background-position: left 0.1em;
	background-repeat: no-repeat;
	background-image: url(icon_uplevel.gif );
}
#content a.image, #content table a.image, #content table span.image, #content span.image {
	display: block;
	margin: 0;
	padding: 0.2em 0 0.2em 2em;
	background-position: left 0.1em;
	background-repeat: no-repeat;
	background-image: url(icon_image.gif );
}
#content a.published, #content table a.published, #content table span.published, #content span.published {
	display: inline;
	margin: 0;
	padding: 0.2em 0 0.2em 2em;
	background-position: left 0.1em;
	background-repeat: no-repeat;
	background-image: url(icon_published.gif );
}
#content a.develop, #content table a.develop, #content table span.develop, #content span.develop, #content table span.development, #content span.development {
	display: inline;
	margin: 0;
	padding: 0.2em 0 0.2em 2em;
	background-position: left 0.1em;
	background-repeat: no-repeat;
	background-image: url(icon_indevelop.gif );
}
#content a.withdrawn, #content table a.withdrawn, #content table span.withdrawn, #content span.withdrawn {
	display: inline;
	margin: 0;
	padding: 0.2em 0 0.2em 2em;
	background-position: left 0.1em;
	background-repeat: no-repeat;
	background-image: url(icon_withdrawn.gif );
}
#content a.deleted, #content table a.deleted, #content table span.deleted, #content span.deleted {
	display: inline;
	margin: 0;
	padding: 0.2em 0 0.2em 2em;
	background-position: left 0.1em;
	background-repeat: no-repeat;
	background-image: url(icon_deleted.gif );
}
/* HIGHLIGHT LIST */
ul.highlight {
	margin: 1em 0 1em 1em;
	padding: 0;
	clear: both;
	list-style: none;
	display: block;
}
ul.highlight li {
	margin: 0 0 1em 0;
	padding: 0 0 0 36px;
	display: block;
	background-image: url(icon_highlight_list.gif );
	background-repeat: no-repeat;
	background-position: left 0.2em;
	line-height: 1.4em;
	min-height: 2.4em;
	height: auto !important;
	height: 2.4em;
}
/* SPECIAL IMAGE ITEMS */
#content div.imageItem60, #content div.imageItem130, #content div.imageItem180 {
	clear: both;
	margin: 0 1em 0 0;
}
#content div.imageItem60 div {
	width: 83%;
	float: left;
}
#content div.imageItem60 img {
	width: 6em;
}
#content div.imageItem130 div {
	width: 68%;
	float: left;
}
#content div.imageItem130 img {
	width: 13em;
}
#content div.imageItem180 div {
	width: 54%;
	float: left;
}
#content div.imageItem180 img {
	width: 18em;
}
#content div.imageItem60 h4, #content div.imageItem130 h4, #content div.imageItem180 h4 {
	margin-bottom: 0.5em;
	margin-left: 0;
}
#content div.imageItem60 p, #content div.imageItem130 p, #content div.imageItem180 p {
	margin-left: 0;
}
#content div.imageItem60 ul, #content div.imageItem130 ul, #content div.imageItem180 ul {
	margin: 0 0 1em 0;
	padding: 0;
	list-style: none;
}
#content div.imageItem60 ul li, #content div.imageItem130 ul li, #content div.imageItem180 ul li {
	padding: 0 0 0.5em 0.5em;
}
/* SIDEBARRIGHTDEFINITIONS */
#content .sideBarRight h2 {
	margin-top: 1em;
}
#content .sideBarRight hr {
	margin-left: 1.5em;
	margin-right: 2.8em;
}
/* COLGROUP DEFINITIONS */
#content .colGroup {
	margin: 0;
	padding: 0;
	clear: both;
}
#content .colGroup .colGroup {
	margin: 0;
	padding: 0;
	width: 100%;
	clear: both;
}
#content .colGroup .col33 {
	margin: 0;
	padding: 0;
	width: 31em;
	float: left;
}
#content .colGroup .col50 {
	margin: 0;
	padding: 0;
	width: 49%;
	float: left;
}
#content .colGroup .col66 {
	margin: 0;
	padding: 0;
	width: 51em;
	float: left;
}
#content .colGroup .col62 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; WIDTH: 62em; PADDING-TOP: 0px
}
#content .colGroup .sideBarRight{ width: 24em; }
#content.totalPage .colGroup .col66 {
	width: 69.3em;
}
#content.totalPage .colGroup .col33 {
	width: 25.5em;
}
#content .colGroup .h20 {
	height: 30em;
}
#content .colGroup .h25 {
	height: 25em;
}
#content .colGroup .h30 {
	height: 30em;
}
#content .colGroup .h40 {
	height: 40em;
}
#content .colGroup .h50 {
	height: 50em;
}
#content .colGroup .h60 {
	height: 60em;
}
/* FORM OBJECTS */
#content form {
	margin: 0 1em 1em 1em;
	padding: 0 1em 1em 1em;
	border: none;
	border-bottom: 1px solid #DDE1EF;
}
#content form.filters {
	margin: 0 0 1em 0;
	padding: 0;
	border-bottom: none;
}
#content form .questionGroup {
	margin: 1em 0 0 0;
	padding: 0;
}
#content form fieldset {
	margin: 0 0 1.5em 0;
	padding: 0;
	border: none;
	border-top: 1px solid #DDE1EF;
}
#content form fieldset legend {
	margin: 0;
	/*padding: 0 0.5em 0.5em 0;
*/
}
#content form h4 {
	margin: 0;
	padding: 1em 0 0 0;
}
#content form label strong {
	display: block;
	padding-top: 1em;
}
#content form h3 {
	clear: both;
	margin-left: -1em;
	margin-right: -1em;
	margin-top: 1.5em;
}
#content form br {
	clear: both;
}
#content form label, #content form span.label {
	display: block;
	margin: 0.5em 0.5em 0 0;
	padding: 0;
	width: 10em;
	float: left;
}
#content form label.fullSize {
	width: 90%;
}
#content form textarea.fullSize {
	width: 90%;
}
#content form span.label {
	width: 9em;
}
#content form div.labelGroup {
	margin: 0.5em 0 0 0;
	padding: 0;
	width: 10em;
	float: left;
}
#content form div.labelGroup label {
	margin: 0;
	padding: 0;
	width: auto;
	float: none;
	display: inline;
}
#content form input {
	margin: 0.5em 0 0 0;
	padding: 0.2em 0.5em;
	float: left;
	border: 1px solid #666;
}
#content form textarea {
	float: left;
	margin: 0.5em 0 0 0;
	padding: 0.2em 0.5em;
	height: 6em;
	border: 1px solid #666;
}
#content form select {
	float: left;
	margin: 0.5em 0 0 0;
	padding: 0;
	border: 1px solid #666;
}
#content form div.boxes {
	margin: 0 0 0 9em;
}
#content form div.boxes label, #content form div.boxesNo label {
	margin: 0;
	padding: 0;
	width: auto;
	float: none;
	display: inline;
}
#content form.filters div.boxesNo label {
	display: block;
	width: 35%;
	float: left;
	margin-top: 0.4em;
}
#content form.filters label.published, #content div.filters label.published {
	padding: 0.2em 0 0.2em 1.5em;
	background-image: url(icon_published.gif);
	background-repeat: no-repeat;
	background-position: left top;
}
#content form.filters label.development, #content div.filters label.development {
	padding: 0.2em 0 0.2em 1.5em;
	background-image: url(icon_indevelop.gif);
	background-repeat: no-repeat;
	background-position: left top;
}
#content form.filters label.withdrawn, #content div.filters label.withdrawn {
	padding: 0.2em 0 0.2em 1.5em;
	background-image: url(icon_withdrawn.gif);
	background-repeat: no-repeat;
	background-position: left top;
}
#content form.filters label.deleted, #content div.filters label.deleted {
	padding: 0.2em 0 0.2em 1.5em;
	background-image: url(icon_deleted.gif);
	background-repeat: no-repeat;
	background-position: left top;
}
#content form div.boxes input.textField, #content form div.boxesNo input.textField {
	display: inline;
	float: none;
	margin-left: 1em;
}
#content form div.boxesNo {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
#content form input.formRadio {
	margin: auto;
	margin-left: 1em;
	margin-top: 0.6em;
	padding: 0;
	display: inline;
	float: none;
	vertical-align: text-bottom;
	border: none;
}
#content form input.formCheck {
	margin: auto;
	margin-left: 1em;
	margin-top: 0.6em;
	padding: 0;
	display: inline;
	float: none;
	vertical-align: text-bottom;
	border: none;
}
#content form.filters div.boxesNo input.formCheck {
	margin-right: 0.6em;
	float: left;
}
#content form input.vertical {
	margin-left: 0;
}
#content form div.buttons {
	margin: 0.5em 0 0 0;
	padding: 0;
	clear: both;
}
#content form input.formAdd {
	float: right;
	border: none;
	background: none;
	cursor: pointer;
	padding: 0.3em 1.3em 0.3em 0;
	background-repeat: no-repeat;
	background-position: right 0.5em;
	background-image: url(icon_featurelink.gif );
}
#content form input.formSubmit {
	float: right;
	border: none;
	background: none;
	cursor: pointer;
	padding: 0.3em 1.3em 0.3em 0;
	background-repeat: no-repeat;
	background-position: right 0.5em;
	background-image: url(icon_featurelink.gif );
}
#content form input.formReset {
	float: right;
	border: none;
	padding: 0.3em 1.5em 0.3em 0;
	background: none;
	cursor: pointer;
}
#content p.error {
	background-color: #FFFFB3;
	padding: 0.5em;
	margin-left: 1em;
	margin-right: 1em;
}
#content textarea.error, #content select.error, #content input.error {
	border: 0.1em solid  #F40;
}
#content form .srchAdvContent {
	margin-right: 10em;
}
/* FOOTER */
#footer ul {
	display: block;
	margin: 0;
	padding: 0 0 0.5em 1em;
	list-style: none;
}
#footer ul li {
	display: block;
	margin: 0;
	padding: 0.3em 1em;
	float: left;
	background-image: url(separator.gif );
	background-repeat: no-repeat;
	background-position: right top;
}
#footer ul li a {
	display: block;
	margin: 0;
	padding: 0;
}
#footer ul li a img {
	display: inline;
	margin: 0.1em 0.3em 0 0;
	padding: 0;
	vertical-align: baseline;
}
#footer ul li.fontLinkHide {
	display: none;
}
#footer ul li.fontLinkShow {
	display: block;
}
#footer span.end {
	clear: both;
	height: 0;
	overflow: hidden;
	margin: 0;
	padding: 0;
}
/*classify link*/
#mainContent a.classify {
	display: block;
	width: 6.5em;
	margin: 1em 0em 1em 0em;
	padding: 0.3em;
	border: 1px solid #348901;
	text-decoration: none;
	font-weight: bold;
	color: #348901;
}
#mainContent a.classify:hover {
	border-color: #3C9E01;
	color: #3C9E01;
	text-decoration: none;
}
/*related publictions form*/
#content form #relatedPublications {
	margin: 0em;
}
#content form #relatedPublications li {
	list-style: none;
	border: 1px solid #333333;
	margin-bottom: 0.2em;
}

#content form #relatedPublications input {
	float: none;
	border: 1px solid #DDDDDD;
	margin: 0.1em;
}

#content a.rssicon {
	display: inline-block;
	margin-left: 10px;
	padding: 0 0 0 1.2em;
	background-repeat: no-repeat;
	background-image: url(icon_rss.gif);
	background-position: left 0.1em;
	text-decoration:none;	
}
#content a.rssicon:hover {	
	text-decoration:none;
}


/* search forms */
#content form table.searchForm {
	border: 0px;
} 

.dhtmlwindow{
	position: absolute;
	padding: 10px;
	border: 1px solid #AA0033;
	visibility: hidden;
	background-color: #EBEFF7;
}

/*]]>*/